.add-ingr{
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}

button{
    padding: 5px;
    margin-right: 10px;
}
.name{
    display: inline-block;
    margin-right: 10%;
}

p{
    display: inline-block;
    margin: 0 10px;
}